@use "../base/variables" as v;

.CartModal {
  position: fixed;
  top: 70px;
  right: 0;
  width: 300px;
  height: 100%;
  padding: 20px 10px;
  border-radius: 20px 0 0 20px;
  color: v.$color-letter;
  background: v.$primario;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  z-index: 99;
  overflow-y: scroll;

  &__flex {
    display: flex;
    justify-content: space-between;
  }
  &__button {
    padding-bottom: 10px;
    border: none;
    font-size: .9rem;
    font-weight: bold;
    color: v.$color-letter;
    background: transparent;

    i {
      color: v.$danger;
    }
  }

  .aviso_cart {
    text-align: center;
  }

  .end-purchase {
    margin: 10px 20%;
  }
}

.productCart {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid v.$color-icon;
  padding: 10px 0;

  &__img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    font-size: .8rem;

    span {
      padding-inline-start: 10px;
      margin-bottom: 1px;
      border-radius: 15px;
      background: rgba(0,0,0,0.3);
    }
  }

  &__button {
    border: none;
    font-size: 1.5rem;
    color: red;
    background: transparent;
    transition: all .3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}
