@use "../base/variables" as v;


.dress-products {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  justify-items: center;
  gap: 1rem;
  width: 100%;
  margin: 1rem 0;

  .card-product {
    width: 90%;
    color: v.$negro;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    overflow: hidden;
  
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  
    .detail {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      font-size: 0.9rem;
      padding: 10px 20px;
  
      span {
        text-transform: capitalize;
      }
    }
  }
}


.priceOFF{
  text-decoration: line-through;
}