@use "../base/variables" as v;
@use "../base/mixins" as m;

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  width: 100%;
  border: 3px dashed rgb(158, 151, 151);
  bottom: 5px;

  .icon {
    font-size: 5rem;
    color: rgb(158, 151, 151);
  }
  p {
    color: rgb(158, 151, 151);
  }
}
// .btn__upload {
//   padding: 1rem;
//   width: 100%;
//   height: 4rem;
//   border: none;
//   margin: 0;
//   margin-top: 1rem;
//   text-transform: uppercase;
//   background-color: v.$primario;
//   color: white;
//   cursor: pointer;
//   opacity: 0.9;
//   transition: background-color 0.3s ease;

//   &:hover {
//     background-color: darken(v.$primario, 10%);
//   }
// }

.buttonDropzone {
  width: 100%;
  margin-top: 0.5rem;
}

.content-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  height: 100%;
}
.image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  z-index: -1;
  overflow: hidden;
  &:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/4;
  }
}
