@use "../base/variables" as v;
@use "../base/mixins" as m;

.dropzone {
  width: 100%;
  border: 3px dashed rgb(158, 151, 151);
  text-align: center;
  height: 36rem;

  .text-dropzone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .icon {
    font-size: 5rem;
    color: rgb(158, 151, 151);
  }
  
  p {
    color: rgb(158, 151, 151);
  }
  
  .content-image {
    display: grid;
    grid-template-areas: 'a b' 'c d';
    grid-template-rows: 200px;
    gap: 5px;
    width: 100%;
    
    .image {
      width: 100%;
      height: 200px;
      background-size: cover;
      border-radius: 10px;
      
      &:nth-child(1) {
        grid-area: a;
      }
      
      &:nth-child(2) {
        grid-area: b;
      }
      
      &:nth-child(3) {
        grid-area: c;
      }
      
      &:nth-child(4) {
        grid-area: d;
      }
    }

    @media screen and (min-width: 1024px) {
      grid-template-rows: 18rem;

      .image {
        height: calc(18rem - 5px);
      }
    }
  }
}

.end-dropzone {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media screen and (min-width: 768px) {
    grid-column: 3/1; // de tres columnas existentes que tome el ancho de todas

    p {
      width: 500px;
    }

    button {
      width: 250px;
    }
  }
}



