@use "../base/variables" as v;

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: v.$violet;
  z-index: 99;

  .button-burguer {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: .8rem;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
      background: rgba($color: #fff, $alpha: .5);
    }
  }

  a {
    img {
      width: 150px;
      height: 40px;
      object-fit: contain;
    }
  }

  .icons-header {
    display: flex;

    .icon-search, .icon-cart {
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border-radius: .8rem;
      cursor: pointer;
      transition: all .3s ease-in-out;

      &:hover {
        background: rgba($color: #fff, $alpha: .5);
        
      }
    }
  }

  i {
    font-size: .9rem;
    color: v.$blanco;
  }

  @media screen and (min-width: 768px) {

    justify-content: center;
    
    .button-burguer {
      display: none;
    }

    .icons-header {
      display: none;
    }
  }

}

.preheader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  display: none;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);

  ul {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: .8rem;
  }

  
  a {
    color: black;
    padding: .5rem;
    transition: .3s;
    border-radius: 1rem;
    &:hover {
      background: rgba($color: #000, $alpha: .5);
      color:white;
      transition: .3s;
    }
  }

  

  @media screen and (min-width: 768px) {
    display: flex;
  }
}


