@use "../base/variables" as v;

.header-fix {
  position: sticky;
  top: 0;
  left: 0;
  padding: 5px 10px;
  z-index: 99;

  header {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    background: v.$primario;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  
    .button-burguer {
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 45px;
      border-radius: 0.8rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
  
      &:hover {      
        background: rgba($color: #fff, $alpha: 0.5);
        width: 40px;
        height: 40px;      
        border-radius: 0.8rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
      }
    }
  
    a {
      img {
        width: 180px;
        height: 40px;
      }
    }
  
    .icons-header {
      display: flex;
  
      .icon-cart {
        position: relative;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 45px;
        border-radius: 0.8rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
  
        &:hover {      
          background: rgba($color: #fff, $alpha: 0.5);
          width: 40px;
          height: 40px;      
          border-radius: 0.8rem;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
        }
  
        .icon-number {
          position: absolute;
          top: -5px;
          right: -5px;
          width: 20px;
          height: 20px;
          line-height: 21px;
          font-size: .8rem;
          border-radius: 50%;
          background-color: v.$colorAzul;
        }
      }
    }
  
    i {
      font-size: 1.3rem;
      color: v.$blanco;
    }

    @media screen and (min-width: 768px) {
      height: 150px;
      align-items: flex-end;

      a {
        align-self: center;

        img {
          position: relative;
          width: 320px;
          height: auto;
          margin-bottom: 30px;
        }
      }

      &::before {
        content: '';
        position: absolute;
        bottom: 50px;
        left: 0;
        width: 100%;
        border: 1px solid rgba(0,0,0,.2);
      }
    }

    
  }
}


