@use "../base/variables" as v;

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: v.$violet;
  z-index: 99;
  height: 5rem;

  .fas {
    font-size: 1.8rem;
    padding: 0.4rem 0;
    &:hover {      
      background: rgba($color: #fff, $alpha: 0.5);
      width: 40px;
      height: 40px;      
      border-radius: 0.8rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
  }

  .fa-shopping-cart {
    position: relative;

    .icon-number {
      width: 25px;
      height: 25px;
      background-color: #000;
      position: absolute;
      bottom: 25px;
      left: 23px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        color: #fff;
        font-size: 1.2rem;
      }
    }
  }

  .button-burguer {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    // &:hover {
    //   background: rgba($color: #fff, $alpha: 0.5);
    // }
  }

  a {
    img {
      width: 150px;
      height: 40px;
      object-fit: contain;
    }
  }

  .icons-header {
    display: flex;

    .icon-search,
    .icon-cart {
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border-radius: 0.8rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      // &:hover {
      //   background: rgba($color: #fff, $alpha: 0.5);
      // }
    }
  }

  i {
    font-size: 0.9rem;
    color: v.$blanco;
  }
}
