.carousel-inner {
    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}

.sections-home {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin: .2rem 0;

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
    }
}

.redes-home {
    margin: 1rem auto;
    grid-template-columns: repeat(1, 1fr);

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
}