@use "../base/variables" as v;
@use "../base/mixins" as m;

.login {
  background-color: lighten($color: v.$primario, $amount: 12);
  margin: 0 auto;
  padding-bottom: 4rem;

  &__container {
    max-width: 700px;
    padding: 2rem 0 0 0;
    display: flex;
    margin: 0 auto;
  }

  &__flap {
    flex: 1;
    padding: 1rem;
    border: none;

    &--active{
        background-color: #fff;
    }

  }

  &__containerInput {
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 2rem;

    @include m.tablet {
      padding: 2rem 4rem;
    }

    input {
      margin: 0rem 0 1rem 0;
      padding: 1rem;

      &:nth-child(7) {
        margin: 0;
      }
    }
  }
  &__forgotPass {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__inputSubmit {
    text-transform: uppercase;
  }
}

.checkboxContainer {
  display: flex;
  align-items: center;
}

.checkboxContainer__campo {
  display: flex;
  margin: 1rem 0;
}

.checkbox {
  width: 30px;
  height: 30px;
  margin: 0px 0.5rem 0 0 !important;
}
