@use "../base/variables" as v;
@use "../base/mixins" as m;

.login {
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 4rem;
  background: white;

  &__container {
    max-width: 700px;
    padding: 2rem 0 0 0;
    display: flex;
    margin: 0 auto;
  }

  &__flap {
    flex: 1;
    padding: 1rem;
    border: none;
    border-radius: 10px 10px 0 0;

    &--active{
        background-color: #F2B100;
      color: v.$color-letter;
    }

  }

  &__containerInput {
    margin: 0 auto;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    background-color: #F2B100;
    border-radius: 0 0 20px 20px;
    padding: 2rem;

    @include m.tablet {
      padding: 2rem 4rem;
    }

    input {
      margin: 0rem 0 1rem 0;
      border: none;
      border-radius: 10px;
      padding: 1rem;

      &:nth-child(7) {
        margin: 0;
      }
    }
  }
  &__forgotPass {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-size: .8rem;

    a {
      color: v.$color-letter-sec;
    }
  }

  &__inputSubmit {
    text-transform: capitalize;
    background: v.$color-letter-sec;
  }
}

.checkboxContainer {
  display: flex;
  align-items: center;
}

.checkboxContainer__campo {
  display: flex;
  margin: 1rem 0;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin: 0px 0.5rem 0 0 !important;
}

.checkboxContainer--register {
  font-size: .8rem;
}


