@use '../base/variables' as v;

.product-detail {
    display: grid;
    gap: 1rem;
    margin: 1rem 0;

    .image-detail {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: .4rem;

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

        .images {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: .4rem;

            img {
                width: 100%;
                height: 100px;
                object-fit: cover;
            }
        }
    }

    .description {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: .8rem;
        font-size: .8rem;

        .prices {
            h6 {
                margin: 0;
                font-weight: 300;
            }
        }
    }

    button {
        justify-self: center;
        width: 150px;
        height: 50px;
        font-size: .8rem;
        text-align: center;
        line-height: 50px;
        border: none;
        font-size: .8rem;
        background: v.$colorButton;
        cursor: pointer;
    }
}

.redes-prod {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border: 2px solid v.$negro;

    h4 {
        font-size: .8rem;
        font-weight: 300;
    }

    .icons-redes {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        text-align: center;

        a {
            color: v.$negro;

            i {
                font-size: 1.5rem;
            }
    
            p {
                font-size: .6rem;
                margin: 0;
            }
        }
    }
}