@use "../base/variables" as v;

.productViewContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
  padding: 1rem 0;
  
  .grid-productView {
    width: 100%;
    display: grid;
    grid-template-areas: 'a a a' 'b c d';
    grid-template-rows: 350px 150px;
    gap: .2rem;
    
    .img-productView {
      width: 100%;
      object-fit: cover;
      object-position: top;
      border-radius: 10px;
      
      &:nth-child(1) {
        grid-area: a;
        width: 100%;
        height: 350px;
      }
      
      &:nth-child(2) {
        grid-area: b;
        width: 100%;
        height: 150px;
        /* transition: all .5s ease-in-out; */
        
        /* &:hover {
          transform: scale(2) translate(50%);
          cursor: pointer;
        } */
      }
      
      &:nth-child(3) {
        grid-area: c;
        width: 100%;
        height: 150px;
        /* transition: all .5s ease-in-out; */
        
        /* &:hover {
          transform: scale(2) translate(0);
          cursor: pointer;
        } */
      }
      
      &:nth-child(4) {
        grid-area: d;
        width: 100%;
        height: 150px;
        /* transition: all .5s ease-in-out; */
        
        /* &:hover {
          transform: scale(2) translate(-50%);
          cursor: pointer;
        } */
      }
    }

    @media screen and (min-width: 990px) {
      grid-template-areas: 'a a b' 'a a c' 'a a d';
      grid-template-rows: repeat(3, 165px);

      .img-productView {
        
        &:nth-child(1) {
          height: 500px;
        }

        &:nth-child(2) {
          height: 164px;
        }

        &:nth-child(3) {
          height: 164px;
        }

        &:nth-child(4) {
          height: 164px;
        }
      }
    }
  }

  .productViewInfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: .4rem;
    max-width: 350px;
    font-size: .8rem;
    text-transform: capitalize;
    
    .radio-toolbar input[type="radio"] {
      display: none;
    }
    .radio-container {
      display: flex;
    }
    
    .radio-toolbar label {
      margin: 0.5rem 0;
      margin-right: 0.5rem;
      display: inline-block;
      background-color: v.$negro;
      color: v.$color-letter;
      padding: 4px 11px;
      font-family: Arial;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      line-height: 2;
    }
    
    .radio-toolbar input[type="radio"]:checked + label {
      background-color: v.$color-letter-sec;
      color: v.$negro;
      box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
      -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .grid-productView {
      width: 50%;
    }
    
  }
}

.productViewInfo__description {
  max-width: 320px;
}

.productViewInfo__discountFlex{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px;

  h5 { 
    font-weight: 300;
    text-decoration: line-through red;
  }

  span {
    background: v.$color-discount;
    color: v.$color-letter;
    padding: 4px 8px;
    border-radius: 20px;
  }
}




