@use "../base/variables" as v;

.productViewContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
  padding: 1rem 0;
  
  .grid-productView {
    display: grid;
    grid-template-areas: 'a a a' 'b c d';
    grid-template-rows: auto;
    gap: .3rem;
    
    .img-productView {
      width: 100%;
      object-fit: cover;
      object-position: top;
      
      &:nth-child(1) {
        grid-area: a;
        width: 100%;
        height: 350px;
      }
      
      &:nth-child(2) {
        grid-area: b;
        width: 100%;
        height: 150px;
        transition: all .5s ease-in-out;
        
        &:hover {
          transform: scale(2) translate(50%);
          cursor: pointer;
        }
      }
      
      &:nth-child(3) {
        grid-area: c;
        width: 100%;
        height: 150px;
        transition: all .5s ease-in-out;
        
        &:hover {
          transform: scale(2) translate(0);
          cursor: pointer;
        }
      }
      
      &:nth-child(4) {
        grid-area: d;
        width: 100%;
        height: 150px;
        transition: all .5s ease-in-out;
        
        &:hover {
          transform: scale(2) translate(-50%);
          cursor: pointer;
        }
      }
    }
  }

  .productViewInfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: .8rem;
    max-width: 350px;
    font-size: .8rem;
    text-transform: capitalize;
    
    .radio-toolbar input[type="radio"] {
      display: none;
    }
    .radio-container {
      display: flex;
    }
    
    .radio-toolbar label {
      margin: 0.5rem 0;
      margin-right: 0.5rem;
      display: inline-block;
      background-color: #000;
      color: #fff;
      padding: 4px 11px;
      font-family: Arial;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      line-height: 2;
    }
    
    .radio-toolbar input[type="radio"]:checked + label {
      background-color: pink;
      color: #000;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .grid-productView {
      grid-template-areas: 'a b' 'a c' 'a d';

      .img-productView {
        &:nth-child(1) {
          grid-area: a;
          width: 100%;
          height: 500px;
        }

        &:nth-child(2) {
          height: 163px;

          &:hover {
            transform: none;
            transform: scale(1.2);
          }
        }

        &:nth-child(3) {
          height: 163px;

          &:hover {
            transform: none;
            transform: scale(1.2);
          }
        }

        &:nth-child(4) {
          height: 163px;

          &:hover {
            transform: none;
            transform: scale(1.2);
          }
        }
      }
    }
  }
}






