.profile {
  &__page {
    max-width: 700px;
    margin: 0 auto;
    padding: 2rem 0 0 0;
  }

  &__container {
    border-radius: 20px;
    padding: 1rem;
    background: #C4C4C4;
    box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.5);

    .profile__fieldContainer {
      display: flex;
      flex-direction: column;
      &:nth-child(3) {
        border: none;
      }
      p {
        font-size: 1.2rem;
        font-weight: bold;
      }
      input {
        margin: 0rem 0 1rem 0;
        padding: 0.5rem;
        border: none;
        border-bottom: 1px solid #cdcdcd;
        border-radius: 10px;
      }
    }
  }
}

.profile__inputSubmit {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  background: #F2B100;
}
  
.change-password {
  width: 80%;
  margin: 2rem auto;

  form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    width: 100%;

    input {
      margin: 0;
    }
  }
}
