@use "../base/variables" as v;


.dress-products { // reveer con grid o alternativas para que se vea columnas centradas y en "flex-start"
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  margin: 1rem 0;

  .card-product {
    width: fit-content;
    height: fit-content;
    color: v.$negro;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    overflow: hidden;
  
    img {
      width: fit-content;
      height: 300px;
      object-fit: contain;
    }
  
    .detail {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      font-size: 0.9rem;
      padding: 10px 20px;
  
      span {
        text-transform: capitalize;
      }

      .price {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 10px;

        span {
          background: v.$color-discount;
          color: v.$color-letter;
          padding: 2px 8px;
          border-radius: 20px;
        }
      }
    }
  }
}


