@use "../base/variables" as v;

.sidebar {
  position: fixed;
  top: 70px;
  left: -350px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 280px;
  height: 100%;
  background-color: v.$primario;
  padding: 20px;
  border-radius: 0 20px 20px 0;
  z-index: 99;
  transition: all .3s ease-in-out;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  overflow-y: auto;
  
  .icon-user-container{
    display: flex;
    align-items: center;
    
    .icon-user {
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      background: v.$color-icon;
      color: v.$blanco;    
    }
    
    .button-profile{
      margin-left: 1rem;
      border: none;
      padding: 8px 16px;
      border-radius: 20px;
      color: v.$color-letter;
      background: #E05D5D;
      
      &:hover{
        cursor: pointer;
        background-color: darken($color: v.$primario, $amount: 10);
      }
    }
    
    p{
      margin: 0;
      margin-left: .5rem;
      color: v.$color-letter;
      text-transform: capitalize;
    }
  }
  
  ul {
    padding-inline-start: 0;
    
    li {
      padding-inline-start: 10px;
      font-size: .8rem;
      color: v.$color-letter;
      cursor: pointer;
      
      a {
        color: v.$color-letter
      }
      
      i {
        font-size: .6rem;
      }

      &:hover {
        background: rgba(0,0,0,0.3);
      }
    }
    
    .collapse {
      
      ul {
        
        li {
          padding-inline-start: 20px;
          color: v.$color-letter-sec;
          margin-bottom: 1px;
          
          a {
            color: v.$color-letter-sec
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    top: 160px;
    height: 70%;
  }
}

.sidebar-on {
  left: 0;
}


