@use "../base/variables" as v;

.sidebar {
  position: fixed;
  top: 70px;
  left: -350px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
  height: 100%;
  background-color: #FFF8E5;
  padding: 20px;
  border-radius: 0 20px 20px 0;
  z-index: 99;
  transition: all .3s ease-in-out;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  
  .icon-user-container{
    display: flex;
    align-items: center;
    p{
      margin: 0;
      margin-left: .5rem;
    }
  }
  
  .icon-user {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background: #FFB344;
    color: v.$blanco;    
  }
  
  .button-profile{
    margin-left: 1rem;
    border: none;
    padding: .5rem;
    background: v.$primario;
    
    &:hover{
      cursor: pointer;
      background-color: darken($color: v.$primario, $amount: 10);
    }
    
    
  }
  
  ul {
    padding-inline-start: 0;
    
    li {
      font-size: .8rem;
      border-bottom: 1px solid v.$grisSecond;
      color: v.$negro;
      cursor: pointer;
      
      a {
        color: v.$negro
      }
      
      i {
        font-size: .6rem;
      }
    }
    
    .collapse {
      background: v.$rosaClaro;
      
      ul {
        padding-inline-start: 10px;
        
        li {
          color: v.$secundario;
          
          a {
            color: v.$secundario
          }
        }
      }
    }
  }
}

.sidebar-on {
  left: 0;
}


