@use "mixins" as m;
@use "variables" as v;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  padding: 2rem;
  width: 95%;
  margin: 0 auto;
}

.container__page {
  max-width: 540px;
  width: 95%;
  margin: 0 auto;

  @include m.tablet {
    max-width: 720px;
  }

  @include m.desktop {
    max-width: 960px;
  }
  @include m.bigDesktop {
    max-width: 1140px;
  }
}

.banner__error {
  background-color: v.$danger;
  padding: 0.5rem;
  text-align: center;
}

h1 {
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input:focus {
  outline: transparent;
}
.generalButton {
  padding: 0.5rem;
  text-transform: uppercase;
  background-color: pink;
  border: none;
  width: 100%;
  margin: .5rem 0;
  transition: all 0.3s ease;
  &:hover {
    background-color: darken($color: pink, $amount: 10);
  }
}
.generalInput {
  height: 40px;
  border: 2px solid #9760a3;
  padding-left: 20px;
  border-radius: 1rem;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: .5rem;
}
