@use "mixins" as m;
@use "variables" as v;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  padding: 2rem;
  width: 95%;
  margin: 0 auto;
}

.container__page {
  max-width: 540px;  
  width: 95%;
  margin: 0 auto;
  // height: 80vh;

  @include m.tablet {
    max-width: 720px;
  }

  @include m.desktop {
    max-width: 960px;
  }
  @include m.bigDesktop {
    max-width: 1140px;
  }
}

.banner__error{
  background-color: v.$danger;
  padding: .5rem;
  text-align: center;
}



h1 {
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input:focus {
  outline: transparent;
}
