html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {  
  padding: 2rem;
  width: 95%;
  margin: 0 auto;
}
.container__page{
  max-width: 1400px;
  width: 95%;
  margin: 0 auto;
}
h1{
  text-align: center;
}