// Fuentes
$fuente_principal: "Roboto", sans-serif;

// Tamaño de Media Queries
$telefono: 576px;
$tablet: 768px;
$desktop: 992px;
$bigDesktop: 1200px;

// Colores
$primario: violet;
$secundario: #455a64;
$negro: #000;
$blanco: #ffffff;
$grisClaro: #eceeef;

$separacion: 5rem;
