// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

$fuente_principal: 'Montserrat', sans-serif;

// Tamaño de Media Queries
$telefono: 576px;
$tablet: 768px;
$desktop: 992px;
$bigDesktop: 1200px;

// Colores
$primario: #393E46;
$secundario: #455a64;
$color-icon: #C4C4C4;
$color-letter: #fff;
$color-letter-sec: #FFBA00;
$color-discount: #00bb2d;
$danger: red;
$negro: #393E46;
$blanco: #ffffff;
$grisClaro: #eceeef;
$grisSecond: #cdcdcd;
$violet: #9760A3;
$rosaClaro: #E6D7ED;
$colorButton: #ECE8D9;
$colorAzul: #5584AC;

$separacion: 5rem;
