// Fuentes
$fuente_principal: "Roboto", sans-serif;

// Tamaño de Media Queries
$telefono: 576px;
$tablet: 768px;
$desktop: 992px;
$bigDesktop: 1200px;

// Colores
$primario: #e8505b;
$secundario: #455a64;
$negro: #000;
$blanco: #ffffff;
$grisClaro: #eceeef;
$grisSecond: #cdcdcd;
$violet: #9760A3;
$rosaClaro: #E6D7ED;
$colorButton: #F0DED0;

$separacion: 5rem;
